<div class="countryswitcher-flags-wrapper">
  <th-block data-th-each="country: ${countries}">
    <a class="countryswitcher-link" data-th-href="${country.url}">
      <img data-th-src="${portal.assetUrl({'_path=img/blank.gif'})}" class="flag" data-th-classappend="|flag-${country.country}|" ></img>
    </a>
  </th-block>
</div>
