.countryswitcher a:link {color: #84c4e2;}
.countryswitcher a:visited {color:#84c4e2;}
.countryswitcher a:hover {color: #cd82ad;}
.countryswitcher a:active {color: #84c4e2;}

#listdiv {
	width:100%;
	height:50px;
	display: none;
}
#mapdiv {
	width:100%;
	height:400px;
}

#noty_layout__top{
	overflow-y: scroll;
	height: 100%;
}

#noty_layout__top .noty_body{
}

.countryswitcher-flags-wrapper{
	display: flex;
  align-items: center;
	height:100%;
}

.countryswitcher-flags-wrapper .flag{
	margin-right: 2px;
}

.countryswitcher-flags-wrapper a.countryswitcher-link {
	border-bottom:0;
	border-style: none;
}
